.list-item-container {
  .item {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgb(128 128 128 / 20%);
    padding: 0.6rem;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    margin-left: -1rem;
    margin-right: -1rem;

    tui-icon {
      font-size: 1.2rem;
    }
  }

  .left {
    display: flex;
    flex-direction: row;
    span {
      padding-left: 0.4rem;
    }
  }

  .location-small {
    color: gray;
    font-size: 0.8rem;
  }
}

.first {
  margin-top: -0.7rem;

  .item {
    border-color: transparent!important;
  }

}