.container {
  max-inline-size: 37.5rem;
}

.list-empty {
  color: gray;
}

.floating {
  position: fixed;
  bottom: 1rem;
}

.floating-left {
  left: 1rem;
}

.floating-right {
  right: 1rem;
}


@media (min-width: 800px) {
  .container {
    display: flex!important;
    flex-direction: row!important;
  }
}