@if (item()) {
<div tuiPlatform="web" class="h-100">
    <div tuiAppearance="floating" tuiCardLarge class="h-100">
	    <tui-badge
        appearance="neutral"
        iconStart="@tui.box"
        size="m"
        class="tui-space_left-1"
    >
        {{item().supplier}}
    </tui-badge>
        <section class="section" (click)="openItem()">
            <app-lazy-img [src]="thumbnail" width="100%" height="10rem"></app-lazy-img>
        </section>
        
        <header tuiHeader (click)="openItem()">
            <p>{{item().name}}</p>
        </header>


        <footer>
            <div class="count">
                <div class="left">
                    <button size="m" tuiButton type="button" appearance="outline" (click)="changeQuantity('subtract')" [disabled]="isLoading()">
                        @if (isLoading()){
                            <tui-icon icon="@tui.loader-circle" class="spinning" [style.font-size.rem]="1.5" />
                        } @else {
                            <tui-icon icon="@tui.minus" [style.font-size.rem]="1.5" />
                        }
                    </button>
                </div>
                <div class="center">{{item().quantity}}</div>
                <div class="right">
                    <button size="m" tuiButton type="button" appearance="outline" (click)="changeQuantity('add')" [disabled]="isLoading()">
                        @if (isLoading()){
                            <tui-icon icon="@tui.loader-circle" class="spinning" [style.font-size.rem]="1.5" />
                        } @else {
                            <tui-icon icon="@tui.plus" [style.font-size.rem]="1.5" />
                        }
                    </button>
                </div>
            </div>
        </footer>
    </div>
</div>
}